/vendor
/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/js/frontend_app.js
public/backend/images/users/*
public/dashboard/images/*

/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env

!.gitkeep

composer.lock
.htaccess
/public/*
public/*
temp/*

